@inherits LayoutComponentBase

<main>
    @Body
</main>

<div id="blazor-error-ui">
    Ha ocurrido un error no controlado.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>